<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Weather App</title>
    <link rel="stylesheet" href="/css/styles.css">

  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>This site was created by Nilesh Das. This site uses data from mapbox.com and openweathermap</p>
      <p>Created By {{name}}</p>
      <img class="portrait" src="/img/me.jpg">
    </div>


    {{>footer}}

  </body>
</html>
